/*------------------------------------------------------------------------
# JoomlAxe CSS
# ------------------------------------------------------------------------
# Author: Spy2furious@gmail.com
# Websites:  http://www.joomlaxe.com
# License:  Creative Commons Attribution 3.0 License
-------------------------------------------------------------------------*/


#main {
	float: left;
	margin-left: 10px;
	padding: 7px 0 0 0;
	width: 72%;
	overflow: hidden;
}