/*------------------------------------------------------------------------
# JoomlAxe CSS
# ------------------------------------------------------------------------
# Author: Spy2furious@gmail.com
# Websites:  http://www.joomlaxe.com
# License:  Creative Commons Attribution 3.0 License
-------------------------------------------------------------------------*/


/*======================= ARTICLE =============================*/
.contentheading{
	font: 18px "Trebuchet MS", Arial, "MS Sans Serif";
	font-weight: bold;
	color: #6297BC;
}

.contentpaneopen a, .contentpaneopen a:link, .contentpaneopen a:visited{
	font: inherit;
}

.small, .createdate, .modifydate{
	color: #AAA;
}

.createdate{
	background:url(../images/clock.gif) 0px 0px no-repeat;
	padding: 0 0 3px 20px;
}

.small{
	background:url(../images/page.gif) 0px 0px no-repeat;
	padding: 0 0 3px 20px;
}

.readon, a.readon:link, a.readon:visited{
	background: #FAFAFA;
	padding: 3px 5px;
	border: 1px solid #F2F2F2;
	color: #4284B0;
}

a.readon:hover{
	color: #9EC068;
}

.contenttoc{
	background: #FAFAFA;
	padding: 3px 5px;
	border: 1px solid #F2F2F2;
	color: #4284B0;
	display: block;
	float: right;
	margin: 25px 5px 5px 5px;
}

.contenttoc tbody tr th{
	border-bottom: 1px solid #EEE;
}

a.toclink{
	padding: 5px;
}

a.toclink:hover{
	color: #9EC068;
	text-decoration: none;
}

.pagenavcounter{
	font-weight: bold;
}


/*======================= COMPONENT =============================*/
.componentheading{
	font: 18px "Trebuchet MS", Arial, "MS Sans Serif";
	color: #9EC630;
	padding: 10px 0 0 0;
}

.contentpaneopen fieldset{
	padding: 5px;
	margin-bottom: 5px;
}

.highlight{
	padding: 0px 2px;
	background: #C8E8FF;
}

.button{
	background: #FAFAFA;
	padding: 1px 5px;
	border: 1px solid #ccc;
	color: #4284B0;

}

.button:hover{
	color: #9EC068;
}

.inputbox{
	padding: 2px 5px;
	border: 1px solid #9EC630;
}

td.sectiontableheader{
	padding: 3px 5px;
	background: #9EC630;
}

td.sectiontableheader a:link, td.sectiontableheader a:visited{
	color: #FFF;
}	

tr .sectiontableentry1 td, tr .sectiontableentry2 td{
	padding: 5px;
}

/*========================= SEARCH ===========================*/
/*.search{
}*/

.search .button{
	margin-left: 5px;
}

/*.search .button:hover{
}

.search .inputbox{
}*/

/*======================= BREADCRUMB =========================*/
/*.breadcrumb .moduletable{
}
.pathway:link, .pathway:visited{
}*/
/*========================= POLLING ========================*/
.poll tbody tr td{
	padding: 3px;
	text-align: left;
}

.poll tbody tr td div{
	/*width: 125px;
	border: 1px solid #3C2B00;*/
	margin-top: 10px;
}