/* Template Pusat Pengembangan SDM Aparatur PErhubungan */

/* top elements */
#background {
	margin: 0;
	padding: 0;
	font: .70em/1.5em  Verdana, Tahoma, Helvetica, sans-serif;
	background-color: #09405D;
	background-image: url('../images/Page-BgTexture.jpg');
	background-repeat: repeat;
	background-attachment: scroll;
	text-align: center;
}

/* links */
a, a:link, a:visited{
	color: #4284B0;
	background-color: inherit;
	text-decoration: none;
}
a:hover {
	color: #035386;
	background-color: inherit;
}

/* headers */
h1, h2, h3 {
	font: bold 1em 'Trebuchet MS', Arial, Sans-serif;
	color: #333;
}
h1 { font-size: 1.5em; color: #6297BC; }
h2 { font-size: 1.4em; text-transform:uppercase;}
h3 { font-size: 1.3em; }

p, h1, h2, h3 {
	margin: 10px 15px;
}
ul, ol {
	margin: 5px 15px;
	padding: 0 15px;
}
ul span, ol span {
	color: #666666;
}

/* images */
img {
	border: none;
}

fieldset {
	padding: 5px 5px;
	border: none;
}

fieldset a {
	font-weight: bold;
}

/***********************
	  LAYOUT
************************/
#wrap {
	background: #FFF;
	width: 100%; height: 100%;
	margin: 0 auto;
	text-align: left;
}

#content-wrap {
	clear: both;
	margin: 0; padding: 0;
	background: #FFF;
}

/* search */
#search{
	float: right;
	z-index: -20;
}

/* top menu */
#topmenu{
 	position: absolute;
 	top: 216px;
	left: 177px;
}

/* main */
#main {
	float: left;
	margin-left: 10px;
	padding: 7px 0 0 0;
	width: 100%;
	overflow: hidden;
}

.PageBackgroundGradient
{
	position: absolute;
	background-image: url('../images/Page-BgGradient.jpg');
	background-repeat: repeat-x;
	top:0;
	width:100%;
	height:900px;

}

#main div{
	margin: 0 0 5px 0;

}


/* begin Box, Sheet */
.Sheet
{
	position:relative;
	z-index:0;
	margin:0 auto;
	width: 1038px;
	min-width:31px;
	min-height:31px;
}

.Sheet-body
{
	position: relative;
	z-index:1;
	padding: 7px;
}

.Sheet-tr, .Sheet-tl, .Sheet-br, .Sheet-bl, .Sheet-tc, .Sheet-bc,.Sheet-cr, .Sheet-cl
{
	position:absolute;
	z-index:-1;
}

.Sheet-tr, .Sheet-tl, .Sheet-br, .Sheet-bl
{
	width: 58px;
	height: 58px;
	background-image: url('../images/Sheet-s.png');
}

.Sheet-tl
{
	top:0;
	left:0;
	clip: rect(auto, 29px, 29px, auto);
}

.Sheet-tr
{
	top: 0;
	right: 0;
	clip: rect(auto, auto, 29px, 29px);
}

.Sheet-bl
{
	bottom: 0;
	left: 0;
	clip: rect(29px, 29px, auto, auto);
}

.Sheet-br
{
	bottom: 0;
	right: 0;
	clip: rect(29px, auto, auto, 29px);
}

.Sheet-tc, .Sheet-bc
{
	left: 29px;
	right: 29px;
	height: 58px;
	background-image: url('../images/Sheet-h.png');
}

.Sheet-tc
{
	top: 0;
	clip: rect(auto, auto, 29px, auto);
}

.Sheet-bc
{
	bottom: 0;
	clip: rect(29px, auto, auto, auto);
}

.Sheet-cr, .Sheet-cl
{
	top: 29px;
	bottom: 29px;
	width: 58px;
	background-image: url('../images/Sheet-v.png');
}

.Sheet-cr
{
	right:0;
	clip: rect(auto, auto, auto, 29px);
}

.Sheet-cl
{
	left:0;
	clip: rect(auto, 29px, auto, auto);
}

.Sheet-cc
{
	position:absolute;
	z-index:-1;
	top: 29px;
	left: 29px;
	right: 29px;
	bottom: 29px;
	background-color: #F4F5F6;
}


.Sheet
{
	margin-top: -2px !important;
}


/* end Box, Sheet */

/* sidebar */
#sidebar {
	float: left;
	width: 185px;
	margin: 0;
	padding: 7px 7px;
	display: inline;
	overflow: hidden;
	background: #EEE;
}

/* rightbar */
#rightbar {
	float: right;
	width: 18%;
	padding: 7px 7p; margin:0;
	overflow: hidden;

}

/* Footer */
#footer {
	clear: both;
	color: #FFF;
	background: #3E9DCF;
	border-top: 5px solid #568EB6;
	margin: 0; padding: 0;
	height: 90px;
	font-size: 95%;
}
#footer a {
	text-decoration: none;
	font-weight: bold;
	color: #FFF;
}
#footer .footer-left{
	float: left;
	width: 100%;
}

#footer .footer-center {
	text-align: center;
	width: 100%;
}

