<a href="#" class="btn btn-primary"><i class="icon-plus-sign icon-white"></i> Tambah</a>
<input type="submit" class="btn btn-primary" name="submit" value="Login" />
<a href="#" class="btn"><i class="icon-edit"></i> Ubah</a>
<a href="#" class="btn btn-danger" onclick="return confirm('Apakah Anda yakin ingin menghapus?')">
    <i class="icon-trash"></i> Hapus
</a>
        <div class="form-actions">
            <input type="submit" class="btn btn-primary btn-large" value="Simpan"/>
            <input type="button" class="btn btn-large" value="Cancel" onclick="history.go(-1)" />
            <input type="reset" class="btn btn-large" value="Reset"/>
        </div>
